<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <div>
            <a href="/">Home</a> | 
            <a href="/crud/add">Add New Bts</a> | 
            <a href="/crud">All Bts List</a>
        </div>    
        <h1><%= title %></h1>